body{
    background-color: whitesmoke;
    
}

h1 {
    color: whitesmoke;
    text-align: center;
    background-color: rgb(171, 0, 0);
    padding: 20px;

  }

  .borde1 img {
    width: 400px;
    margin: 20px ;
  }
  
  .borde1 {
    text-align: center;
    margin: 40px 0;
  }
